on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - dev

name: Build

jobs:
  build-linux:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Run unit tests
        run: cargo build --release