on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - dev

name: Build

jobs:
  build-linux:
    runs-on:
      - ubuntu-latest
      - windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run unit tests
        run: cargo build --release